<div class="mt-3">
    <!-- <p>{{ userForm.value | json }}</p> -->
    <h3 class="text-center mt-3">User</h3>
<form style="max-width: 800px; margin: auto;" [formGroup]="userForm" (submit)="OnUpdate(userForm.value)">
    <input *ngIf="id" type="hidden" name="id" [(ngModel)]="userDetail.id">

    <div class="mb-3">
        <label for="">Name</label>
        <input type="text" class="form-control" placeholder="Enter your Name" formControlName="name" [(ngModel)]="userDetail.name">
        <app-show-validate
        [formField]="userForm.get('name')"
        key="Name"
        ></app-show-validate>
    </div>

    <div class="mb-3">
        <label for="">Profile work</label>
        <input type="text" class="form-control" placeholder="Enter your profile__work" formControlName="profile__work" [(ngModel)]="userDetail.profile__work">
        <app-show-validate
        [formField]="userForm.get('profile__work')"
        key="Profile Work"
        ></app-show-validate>
    </div>

    <div class="mb-3">
        <label for="">Age</label>
        <input type="number" class="form-control" placeholder="Enter your age" formControlName="age" [(ngModel)]="userDetail.age">
        <app-show-validate
        [formField]="userForm.get('age')"
        key="Age"
        ></app-show-validate>
    </div>

    <div class="mb-3">
        <label for="">Birthday</label>
        <input type="text" class="form-control" placeholder="Enter your birthday" formControlName="birthday" [(ngModel)]="userDetail.birthday">
        <app-show-validate
        [formField]="userForm.get('birthday')"
        key="Birthday"
        ></app-show-validate>
    </div>

    <div class="mb-3">
        <label for="">Phone</label>
        <input type="number" class="form-control" placeholder="Enter your phone" formControlName="phone" [(ngModel)]="userDetail.phone">
        <app-show-validate
        [formField]="userForm.get('phone')"
        key="Phone"
        ></app-show-validate>
    </div>

    <div class="mb-3">
        <label for="">Email</label>
        <input type="text" class="form-control" placeholder="Enter your email" formControlName="email" [(ngModel)]="userDetail.email">
        <app-show-validate
        [formField]="userForm.get('email')"
        key="Email"
        ></app-show-validate>
    </div>

    <div class="mb-3">
        <label for="">Address</label>
        <input type="text" class="form-control" placeholder="Enter your address" formControlName="address" [(ngModel)]="userDetail.address">
        <app-show-validate
        [formField]="userForm.get('address')"
        key="Address"
        ></app-show-validate>
    </div>

    <div class="mb-3">
        <label for="">image</label>
        <input type="text" class="form-control" placeholder="Enter your link Image" formControlName="image" [(ngModel)]="userDetail.image">
        <app-show-validate
        [formField]="userForm.get('image')"
        key="Image"
        ></app-show-validate>
    </div>

    <div class="mb-3">
        <label for="">Git</label>
        <input type="text" class="form-control" placeholder="Enter your git" formControlName="git" [(ngModel)]="userDetail.git">
        <app-show-validate
        [formField]="userForm.get('git')"
        key="Git"
        ></app-show-validate>
    </div>

    <div class="mb-3">
        <label for="">Facebook</label>
        <input type="text" class="form-control" placeholder="Enter your facebook" formControlName="facebook" [(ngModel)]="userDetail.facebook">
        <app-show-validate
        [formField]="userForm.get('facebook')"
        key="Facebook"
        ></app-show-validate>
    </div>

    <div class="mb-3">
        <label for="">Desc</label>
        <input type="text" class="form-control" placeholder="Enter your desc" formControlName="desc" [(ngModel)]="userDetail.desc">
        <app-show-validate
        [formField]="userForm.get('desc')"
        key="Desc"
        ></app-show-validate>
    </div>

    <div class="mb-3">
        <label for="">Resume</label>
        <input type="text" class="form-control" placeholder="Enter your resume" formControlName="resume" [(ngModel)]="userDetail.resume">
        <app-show-validate
        [formField]="userForm.get('resume')"
        key="Resume"
        ></app-show-validate>
    </div>

    <div class="mb-3">
        <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

</div>

